{% extends "views/base/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static',filename='css/about.min.css') }}">
{% endblock styles %}

{% block header %}
{% set bg = url_for('static', filename='img/bg-contact.jpg') %}
<div class="view jarallax z-depth-1" data-jarallax='{"speed": 0.2}'
    style="background-image: url('{{ bg }}'); background-repeat: no-repeat; background-size: cover; background-position: right;">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 white-text text-center">
                    <h1 class="display-3 mb-0 pt-md-5 pt-5 white-text font-weight-bold wow fadeInDown text-capitalize"
                        data-wow-delay="0.3s">Contact
                    </h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <form class="mx-md-5" action="">
        
                        <div class="row">
                            <div class="col-md-6 mb-4">
                    
                                <div class="card">
                                    <div class="card-body px-4">
                    
                                        <!-- Name -->
                                        <div class="md-form md-outline mt-0">
                                            <input type="text" id="name" class="form-control">
                                            <label for="name">Your Name</label>
                                        </div>
                                        <!-- Email -->
                                        <div class="md-form md-outline">
                                            <input type="text" id="email" class="form-control">
                                            <label for="email">Your Email Address</label>
                                        </div>
                                        <!-- Message -->
                                        <div class="md-form md-outline">
                                            <textarea id="message" class="md-textarea form-control" rows="3"></textarea>
                                            <label for="message">Your Message</label>
                                        </div>
                    
                                        <button type="submit" class="btn btn-primary btn-md btn-block ml-0 mb-0">Send</button>
                    
                                    </div>
                                </div>
                    
                            </div>
                            <div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text">
                    
                                <h5 class="font-weight-bold">Address</h5>
                                <p class="mb-0">Carretera Vieja</p>
                                <p class="mb-0">Cartago, La Unión</p>
                                <p class="mb-4 pb-2">Costa Rica</p>
                    
                                <h5 class="font-weight-bold">Phone</h5>
                                <p class="mb-4 pb-2">+506 8667-2549</p>
                    
                                <h5 class="font-weight-bold">Email</h5>
                                <p>s.m.sebastian.n@gmail.com</p>
                    
                            </div>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock header %}


{% block content %}


{% endblock content %}