<section id="about">
    <div class="container my-5">
        <!--Section: Content-->
        <section class="dark-grey-text">
            <div class="row pr-lg-5">
                <div class="col-md-7 mb-4">
                    <div class="view" style="height: inherit;">
                        <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid"
                            alt="smaple image">
                    </div>
                </div>
                <div class="col-md-5 d-flex align-items-center">
                    <div>
                        <h3 class="font-weight-bold mb-4">About Me</h3>
                        <p>
                            I'm a software developer that enjoys learning and is constantly looking for more knowledge. I look for automation on everything I do because "Why do it when the computer can do it for you?". I also play the saxophone and love sports.
                        </p>
                        <button type="button" class="btn btn-indigo btn-rounded mx-0">Read more</button>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Content-->
    </div>
</section>