<section id="projects">
    <div class="bg-white py-2 z-depth-1">
        <div class="container my-5">
            <section class="dark-grey-text text-center">
                <h3 class="font-weight-bold mb-4 pb-2">Some of my projects</h3>
                <p class="text-muted w-responsive mx-auto mb-5">
                    Here are some of the projects I have programed. Most of them are tools I use on a day to day basis,
                    and others are apps I found to be useful.
                </p>
                <div class="row">
                    {% for proj in projects %}
                        {{ card.read_more(proj.img, proj.title, proj.description, proj.href,"View project") }}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</section>