<section id="technologies" class="container-fluid">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for tech_row in technologies | batch(3)%}
            <div class="carousel-item justify-content-center {{ 'active' if loop.index == 1 }}">
                <div class="card-deck w-100">
                    {% for tech in tech_row %}
                    {% call card.minimal(size='col-sm') %}
                    <i class="{{ tech.icon}} fa-2x {{ tech.color }}-ic mb-3"></i>
                    <div class="text-xl font-weight-bold text-{{ tech.color }} text-uppercase mb-1">
                        {{tech.name}}
                    </div>
                    {% endcall %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>