<div class="pt-5 mt-5 z-depth-1 indigo text-white">
    <section class="p-md-3 mx-md-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-3">
                    <i class="far fa-paper-plane pr-2"></i> Communication
                </h4>
                <p>
                    Honesty and trust, key to deliver a great product
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-3">
                    <i class="fas fa-users"></i> Teamwork
                </h4>
                <p>
                    A team of people that complements each other is capable of anything
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-3">
                    <i class="fas fa-puzzle-piece"></i> Problem-solving
                </h4>
                <p>
                    Each problem is a puzzle to be solved, it may be hard sometimes but at the end it is always worth
                    the trouble
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-3">
                    <i class="fas fa-balance-scale"></i> Balance
                </h4>
                <p>
                    There must be a balance in life, between work and personal time
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-3">
                    <i class="fas fa-hourglass-half"></i> Time Management
                </h4>
                <p class="mb-lg-0">
                    It is important to use time wisely, it is a limited resource
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-3">
                    <i class="fas fa-award"></i> Motivation
                </h4>
                <p class="mb-lg-0">
                    There should always be a reason to do things. Otherwise, Why even bother?
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-3">
                    <i class="fas fa-folder-plus"></i> Adaptability
                </h4>
                <p class="mb-md-0">
                    Those who adapt, overcome any obstacle
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-3">
                    <i class="fas fa-brain"></i> Critical thinking
                </h4>
                <p class="mb-md-0">
                    Thinking outside the box is the key to success.
                </p>
            </div>
        </div>
    </section>
</div>