{% extends 'views/base/base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static',filename='css/blog.min.css') }}">

{% endblock styles %}

{% block header %}
<div class="container mt-5 mb-3 pt-5">
    <div class="row">
        <h1 class="display-4 text-capitalize">
            {{ blog.title }}
        </h1>
    </div>
    <div class="row">
        <div class="text-muted font-weight-light">
            <h4>Sebastian Soto</h4>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container p-0">
    {% set img_path = url_for('.static', filename='img/articles/') + blog.img %}
    <div class="bgimg mb-5 rounded-lg"
        style="background-image: url({{ img_path }});background-position: {{ blog.img_pos or 'center' }};">
    </div>
</div>
<div class="container text-justify p-0 mb-5">
    <div class="article">
        {% include 'views/article/' + blog.href + '.html' %}   
    </div>
</div>
{% endblock content %}