@import "../scss/mdb.scss";
@import "news";

.navbar:not(.top-nav-collapse) {
  background-color: $white !important;
  @extend .z-depth-1;

  .nav-item > a,
  a.navbar-brand {
    color: inherit !important;
  }
}

.article > div {
  line-height: 1.8rem;
}