html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
  @extend .z-depth-0;
  .nav-item > a,
  a.navbar-brand {
    color: white !important;
  }
}

.top-nav-collapse {
  background-color: $white !important;
  @extend .z-depth-1;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background-color: $white !important;
    .nav-item > a,
    a.navbar-brand {
      color: inherit !important;
    }
  }
}
