<footer class="page-footer  indigo">
    <div class="font-small py-4 white-text rgba-black-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="font-weight-bold mb-0"><a href="/">SNSM</a></h3>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2 text-uppercase">
                        <li>
                            <a class="mx-3" href="/about">About</a>
                        </li>
                        <li>
                            <a class="mx-3" href="/blog">Blog</a>
                        </li>
                        <li>
                            <a class="mx-3" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="footer-copyright text-right bg-transparent light-grey-text mt-2">© 2019.
                        <a class="light-grey-text"> All rights
                            reserved.</a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</footer>