{% macro base(title,content) -%}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{ content }}</p>
    </div>
</div>
{%- endmacro %}

{% macro minimal(classes='',size='col-sm-4',id='',cursor='default') -%}
<div id="{{ id }}" class="mb-4 {{ size }} {{ classes }}">
    <div class="card h-100 py-2 z-depth-1-half" style="cursor:{{cursor}}">
        <div class="card-body align-items-center text-center">
            {{ caller() }}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro narrow_project(id,img,title,description,labels=[],size='col',classes='') -%}
<div id="{{ id }}" class="project-card {{ size }} {{ classes }}">
    <div class="card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="{{ url_for('static', filename='img/projects/') }}{{ img }}"
                alt="Project Image">
        </div>
        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <!-- Title -->
            <h4 class="font-weight-bold card-title">{{ title }}</h4>
            <!-- Text -->
            <p class="card-text">
                {{ description }}
            </p>
            <!-- Languages -->
            <div class="container">
                <div class="row mt-2">
                    {% for label in labels %}
                        <span name='{{ label.name | lower }}' class="mr-2 mb-2 badge badge-{{ label.color }}">{{ label.name }}</span>    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}