{% macro read_more(img, title, description, href, btn_text) -%}
<div class="col-lg-4 col-md-12 mb-5">
    <div class="overlay rounded z-depth-1">
        <img src="{{ url_for('static', filename='img/projects/') }}{{ img }}"
            class="img-fluid z-depth-1-half" alt="{{ img }}">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <div class="px-3 pt-3 mx-1 mt-1 pb-0">
        <h4 class="font-weight-bold mt-1 mb-3">{{ title }}</h4>
        <p class="text-muted">{{ description }}</p>
        <a class="btn btn-indigo btn-sm btn-rounded" href="{{ href }}"><i
                class="fas fa-clone left"></i>{{ btn_text }}</a>
    </div>
</div>
{%- endmacro %}

{% macro minimal(classes='',size='col-sm-4',id='',cursor='default') -%}
<div id="{{ id }}" class="mb-4 {{ size }} {{ classes }}">
    <div class="card h-100 py-2 z-depth-1-half" style="cursor:{{cursor}}">
        <div class="card-body align-items-center text-center">
            {{ caller() }}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro narrow_project(id,img,title,description,labels=[],size='col',classes='') -%}
<div id="{{ id }}" class="project-card {{ size }} {{ classes }}">
    <a class="dark-grey-text" href="/projects/{{ id }}">
        <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="{{ url_for('static', filename='img/projects/') }}{{ img }}"
                    alt="Project Image">
            </div>
            <!-- Card content -->
            <div class="card-body card-body-cascade">
                <!-- Title -->
                <h4 class="font-weight-bold card-title">{{ title }}</h4>
                <!-- Text -->
                <p class="card-text">
                    {{ description }}
                </p>
                <!-- Languages -->
                <div class="container">
                    <div class="row mt-2">
                        {% for label in labels %}
                            <span name='{{ label.name | lower }}' class="mr-2 mb-2 badge badge-{{ label.color }}">{{ label.name }}</span>    
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{%- endmacro %}

{% macro img(title, img, href) %}
<div class="card news-tile view z-depth-1 rounded lift">
    <a href="{{ href }}" class="text-white">
        <img src="{{ img }}"
            class="img-fluid rounded-bottom" alt="{{ title }} img">
        <div class="mask rgba-stylish-strong">
            <div class="text-white text-center py-lg-5 py-0 my-0">
                <div>
                    <h4 class="card-title font-weight-bold pt-2">
                        <strong>{{ title }}</strong>
                    </h4>

                    <p class="mx-5 clearfix d-none d-md-block"></p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endmacro %}