{% macro link(id,title,href,icon="") -%}
<li class="nav-item" id="nv_{{ id }}">
  <a class="nav-link waves-effect" href="{{ href }}" target="_self">
    {% if icon|length %}
    <i class="{{ icon }}"></i>
    {% endif %}
    <span>{{ title }}</span></a>
</li>
{%- endmacro %}


{% macro drop_down(id,title,links=[],icon="") -%}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="dd_{{ id }}" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    {% if icon|length %}
    <i class="{{ icon }}"></i>
    {% endif %}
    <span>{{ title }}</span>
  </a>
  <div class="dropdown-menu dropdown-primary" aria-labelledby="dd_{{ id }}">
    {% for link in links %}
    <h6 class="dropdown-header">{{ link.header }}:</h6>
      {% for route in link.routes %}
      <a class="dropdown-item" href="{{ route.href }}">
          {{ route.title }}
      </a>
      {% endfor %}
      {% if not loop.last %}
        <div class="dropdown-divider"></div>
      {% endif %}
    {% endfor %}
  </div>
</li>

{%- endmacro %}